In [1]:
import numpy as np
import pandas as pd
import healpy as hp

In [2]:
# 1. Healpix grid

# https://lambda.gsfc.nasa.gov/toolbox/tb_pixelcoords.cfm
nside = 128
npixs = hp.nside2npix(nside)
lumMap = pd.DataFrame(list(range(npixs)), columns=['hp'])

lumMap['long'],lumMap['lat']  = hp.pix2ang(nside, lumMap['hp'], lonlat=True)
lumMap['Long'] = 2*np.pi*lumMap['long']/360
lumMap['Lat'] = 2*np.pi*lumMap['lat']/360

In [3]:
r_mw1 = 45
r_mw2 = 300
r_mw3 = 600 # 45 kpc for I, 300 kpc for II, 600 kpc for III
r_sc = 8.2 # 8.2 kpc
lumMap['cos'] = np.cos(lumMap['Lat'])*np.cos(lumMap['Long'])
lumMap['sin2'] = 1 - lumMap['cos'] * lumMap['cos']
lumMap['r1'] = np.sqrt(r_mw1 * r_mw1 - lumMap['sin2'] * r_sc * r_sc) + r_sc * lumMap['cos']
lumMap['r2'] = np.sqrt(r_mw2 * r_mw2 - lumMap['sin2'] * r_sc * r_sc) + r_sc * lumMap['cos']
lumMap['r3'] = np.sqrt(r_mw3 * r_mw3 - lumMap['sin2'] * r_sc * r_sc) + r_sc * lumMap['cos']
lumMap.drop(['cos', 'sin2'], axis = 1, inplace = True)
lumMap.to_csv('hpLumin.csv')

In [4]:
lumMap.head()

   hp   long        lat      Long       Lat         r1          r2          r3
0   0   45.0  89.634517  0.785398  1.564417  44.283584  299.924901  599.980952
1   1  135.0  89.634517  2.356194  1.564417  44.209611  299.850928  599.906979
2   2  225.0  89.634517  3.926991  1.564417  44.209611  299.850928  599.906979
3   3  315.0  89.634517  5.497787  1.564417  44.283584  299.924901  599.980952
4   4   22.5  89.269029  0.392699  1.558038  44.343336  299.984576  600.040620